<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>ID</td>
            <td>Front</td>
            <td>Back</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <form action = "\list" method = "POST">
               <td><input type = "submit" value = "X" />{{ row["id"]}}</td>
               <td>  <textarea name="front">{{row["vokabel"]}}</textarea></td>
               <td> {{ row["solution"]}}</td>
            </form>
            </tr>
         {% endfor %}
      </table>
      {{msg}}
      <a href = "/">Go back to home page</a>
   </body>
</html>