{% extends "base.html" %}



{% block title %}Overview{% endblock %}

{% block content %}
      <table border = 1 class="table table-dark">
         <thead>
            <td>ID</td>
            <td>Front</td>
            <td>Back</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <form action = "\list" method = "POST">
               <td><input type = "submit" value = "X" class="btn btn-danger"/>  {{ row["id"]}}</td>
               <td>  <textarea name="front">{{row["vokabel"]}}</textarea></td>
               <td> {{ row["solution"]}}</td>
            </form>
            </tr>
         {% endfor %}
      </table>
      {{msg}}
{% endblock %}