{% extends "base.html" %}



{% block title %}Session{% endblock %}




{% block content %}

<a onclick="change()">
    <div style="padding:10px; width:30%; margin: auto; ">
        <a href="/new"><button>+</button></a>
        <div style="border-style: solid; width:100%; height:100%; ">
            <div style="margin: auto;">
                <p></p>
                <input type="button" id="test" value="{{vokabel}}" style=" width:100%; margin: auto;">
                <p></p>
            </div>
            
        </div>
        <a href="/session"><button>Next</button></a>
    </div>
</a>



{% endblock %}

{% block script %}
<script>
    function change() {
        var elem = document.getElementById("test");
        if (elem.value == "{{solution}}") elem.value = "{{vokabel}}";
        else elem.value = "{{solution}}";
    }
</script>
{% endblock %}